<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transit
ional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Blockdegree</title>
    
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
body {margin: 0;padding: 0;background-color: #FFFFFF;}
.cert-frame {font-family: Arial, Helvetica, sans-serif;color: #3f586e;width: 800px;height: 600px;text-align: center;background-image: url(https://raw.githubusercontent.com/XinFinOrg/Blockchain_Tutorial-website/live/dist/img/funders/certi/certificate-frameBg.jpg);background-repeat: no-repeat;background-position: center top;}
.cert-body {color: #565656;width:670px;height:516px;padding:59px 25px 25px 106px;}
.cert-data {float: left;width:575px;height:458px;padding:40px 35px 20px 60px;text-align: left; position:relative;}
.cert-header {font-family: 'Allura', cursive;font-size:45px;font-weight:400;vertical-align: top;text-align:center;line-height:50px;background:-webkit-linear-gradient(#0287ef, #3031af);-webkit-background-clip: text;-webkit-text-fill-color:transparent;margin-bottom:12px;}
.cert-signature {text-align:left;margin-top:10px;}
.cert-signatureName {font-weight:600;}
.cert-content {font-family: Arial, Helvetica, sans-serif;font-size:18px;line-height:24px;font-weight: 400;}
.cert-content p {padding-bottom: 15px;margin: 0px;}
.cert-content p.thankYou {padding-bottom:35px;margin: 0px;}
.cert-content p .funderName {font-weight:600;}
.cert-content p a {color: #0287ef;text-decoration:none;}
.cert-content p a:hover {color: #0287ef;text-decoration:underline;}
.cert-content p:last-child {padding-bottom: 0px;margin: 0px;}
</style>
</head>

<body>

    <!-- START CERTIFICATE -->
    <div class="cert-frame">
        <div class="cert-body">

            <div class="cert-data">
                <div class="cert-header">Thank You!</div>

                <div class="cert-content">
                    <p>Dear <span class="funderName"><%= donerName %></span>,</p>
                                        <p>Thank you funding <b><%= degreeCount %></b> degree(s) using <strong>FundMyDegree</strong>. Your Donation will make a crucial difference in the career of the students who receive the scholarship.</p>
                    <p>We at Blockdegree will also truly appreciate your initiative to encourage others to empower education by providing funding support using <strong>FundMyDegree</strong>.</p>
                                        <p class="thankYou">Thank You.</p>
                                        <div class="cert-signatureName">Team Blockdegree</div>
                                        <div class="cert-signature"><img src="https://raw.githubusercontent.com/XinFinOrg/Blockchain_Tutorial-website/live/dist/img/brand/blockdegree_dark.png?v=2" width="208" height="40" style="outline:none;border-style:none;"></div>
                </div>

            </div>

        </div>
    </div>
    <!-- END CERTIFICATE -->

</body>

</html>