.DS_Store
.sass-cache/
node_modules/
server/protected/courses
dist/*.html
.env

data.json

server/config/localKeys.js
server/config/prodKeys.js
server/config/keys.js
server/config/database.js
server/config/database.js.bak
server/config/auth.js
server/config/authSecrets.js
server/config/authSecrets.js.bak
server/config/paypalKeys.js
server/keystore
server/routes/testRoutes.js

questions
*.bak
*.config.js