<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="https://newuat.blockdegree.org/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
