button {
  white-space: normal;
}

.btn-primary {
  background: $btn--primary;
  white-space: normal;
}

.btn-cstm-rounded {
  border-radius: 25px;
  white-space: normal;
}

.btn-gradient {
  @include linear-gradient(45deg, $btn__gradient--stop-1, $btn__gradient--stop-2);
  border: 1px solid transparent;
  border-radius: 0;
  color: white;
  padding: 10px 45px;
  white-space: normal;

  &:hover {
    background: white;
    color: $btn__gradient--stop-2;
    border: 1px solid $btn__gradient--stop-2;
  }
}

.bg-gradient {
  @include linear-gradient(45deg, $primary-color, $secondary-color);
}

.bg-primary {
  background: $bg--primary;
}

.bg-secondary {
  background: $bg--secondary !important;
}

.bg-muted {
  background: $bg--muted;
}

.overlay {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.overlay__content {
  position: relative;
  z-index: 2;
}
