/* =================================== */
/*  Gallery Page Styles
/* =================================== */


.gallery-area{
    .single-imgs{
        img{
            height: 300px;
            object-fit: cover;
            margin: 20px 0;
            width:100%;
        }
        .overlay-bg{
            background: rgba($primary-color,.85);
            opacity: 0;
            @include transition();
            z-index: 2;
        }
        &:hover{
            .overlay-bg{
                opacity:1;
            }
        }
    }
}
