<div class="py-3 cert-block">
  <h3>Certified blockchain expert certification</h3>
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="card">
        <div class="card-body">
          <a href="/exams" class="card-text btn btn-gradient px-1 width--full">Take Exam</a>
        </div>
      </div>
    </div>
  </div>
</div>
