{{> includes/hero hero-title="Error"}}

<div class="container__cstm text-center">
    <br>
    <h2>Hmm, that should not have happened.</h2>
    <p>
        <div><b>Error: &nbsp;</b> {{error}}</div>
    </p>
    <p>
        Not your mistake? <a href="https://www.blockdegree.org/contact">Contact Us</a>
    </p>
    <div>
    </div>
</div>