{{> includes/hero hero-title="Error"}}
<div>
    <br>
    <h3>Hmm, that should not have happened.</h3>
    <p>
        <div><b>Error:</b> {{error}}</div>
    </p>
    <p>
        Not your mistake? <a href="https://www.blockdegree.org/contactUs">Contact Us</a>
    </p>
    <div>
    </div>
</div>