{{> includes/hero hero-title="Edit Blog Post"}}
<section>
    <input type="text" id="topics" name="topics" placeholder="Enter Topics seperated by ';'"><br>
    <input type="text" id="title" name="title" placeholder="Enter Title">
    <textarea id="desc" name="desc" placeholder="Enter a short Descrition..."></textarea>
    <br>
    <h3 style="text-align: center">BLOG EDITOR</h3>
    <br>
    <textarea id="blog-content"></textarea>
    <br>
    <script>
        CKEDITOR.replace('blog-content');
    </script>
    <button onclick="saveDraft()">Save Draft</button>
    <button onclick="submitArticle()">Submit</button>
    <button onclick="deleteArticle()">Delete</button>
</section>
<script>
    document.onload = () => {
        fetchBlog();
    }
    function saveDraft() { // save a blog as draft
        let content = document.getElementById("blog-content");
        let blog_id = window.location.href.split("?")[1].split("=")[1];
        let topics = document.getElementById("topics").value.split(";");
        let title = document.getElementById("title").value;
        let desc = document.getElementById("desc").value;
        $.ajax({
            method: "post",
            url: "https://www.blockdegree.org/api/blogs/saveDraft",
            data: {
                content: CKEDITOR.instances['blog-content'].getData(),
                blog_id: blog_id,
                topics: topics,
                title: title,
                desc: desc
            },
            success: result => {
                if (result.saved) {
                    $.notify("Blog Saved Successfully", { type: "success" })
                } else {
                    $.notify(result.error, { type: "danger" })
                }
            },
            error: xhr => {
                $.notify("Some error occurred while making a request", { type: "danger" })
            }
        })
    }
    function submitArticle() { //  post the blog on the site
        let content = document.getElementById("blog-content");
        let blog_id = window.location.href.split("?")[1].split("=")[1];
        let topics = document.getElementById("topics").value.split(";");
        let title = document.getElementById("title").value;
        let desc = document.getElementById("desc").value;
        $.ajax({
            method: "post",
            url: "https://www.blockdegree.org/api/blogs/postBlog",
            data: {
                content: CKEDITOR.instances['blog-content'].getData(),
                blog_id: blog_id,
                topics: topics,
                title: title,
                desc: desc
            },
            success: response => {
                if (response.posted) {
                    $.notify("Successfully Posted the Blog", { type: "success" })
                }
                else {
                    $.notify(response.error, { type: "danger" })
                }
            },
            error: xhr => {
                $.notify("Some error occurred while making a request", { type: "danger" })
            }
        })
    }

    function deleteArticle() {
        let blog_id = window.location.href.split("?")[1].split("=")[1];
        $.ajax({
            method: "post",
            url: "https://www.blockdegree.org/api/blogs/deleteBlog",
            data: {
                blog_id: blog_id
            },
            success: response => {
                if (response.deleted) {
                    $.notify("Successfully Deleted the Blog", { type: "success" })
                } else {
                    $.notify(response.error, { type: "danger" })
                }
            },
            error: xhr => {
                $.notify("Some error occurred while making a request", { type: "danger" })
            }
        })
    }
    function fetchBlog() {
        let curr_blog_id = window.location.href.split("?")[1].split("=")[1];
        $.ajax({
            method: "post",
            url: "https://www.blockdegree.org/api/blogs/fetchBlog",
            data: { blog_id: curr_blog_id },
            success: response => {
                if (response.error == null) {
                    let  topics = "";
                    document.getElementById("title").value = response.blog.title;

                    if (typeof response.blog.topics == "string") {
                        topics = topics + ";";
                    } else {
                        response.blog.topics.forEach(topic => {
                            topics += topic + ";";
                        })
                    }
                    CKEDITOR.instances["blog-content"].setData(response.content)
                    document.getElementById("topics").value = topics.substring(0, topics.length - 1);
                    document.getElementById("desc").value = response.blog.desc;
                } else {
                    alert(response.error)
                }
            }
        })
    }
    fetchBlog();
</script>