{{> includes/hero hero-title="This page is not found"}}
<div class="container__cstm text-center">
  Oops, seems like you stumbled upon a broken link. <a href="/">Click here</a> to return to the home page.
</div>
