<section>
<!-- start Header bg -->
		<section class="fmd-style-wrapper fmd-block-bg">
        	<div class="container">
                <div class="d-flex justify-content-between">
					<div class="fmd-block-bg-content">
						<h2>Fund Request</h2>
						<p>Need help in getting your certification?<br>You can apply for funding on this page and get your certification sponsored.</p>
					</div>
					<div class="align-self-center">
						<a href="#" class="btn border white text-uppercase">Apply Now</a>
					</div>
				</div>
            </div>
    	</section>	
		<!-- end Header bg -->
		
		<!-- start FMD Details -->
        <section class="fmd-style-wrapper" id="fmd-block" class="mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-lg-0">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center p-0">
                                <!-- Nav tabs -->
                                <ul class="nav nav-custom nav-borderless nav_tabs1" id="nav_tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" href="#fundingRequired" role="tab" data-toggle="tab">Funding Required</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#alreadyFunded" role="tab" data-toggle="tab">Already Funded</a></li>
                                </ul>
                                <!-- Nav tabs -->
                            </div>

                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="fundingRequired">
                                    <div class="table-responsive">
                                    <table id="pendingFund" class="table table-hover nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>DATE</th>
                                                <th>NAME</th>												
                                                <th>DESCRIPTION</th>
                                                <th>FUNDING REQUIRED FOR</th>
                                                <th>AMOUNT</th>
												<th>ACTIONS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>                                             
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td><button type="button" class="btn btn-primary btn-cstm-rounded">Fund Now</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    </div>

                                    <div class="tab-pane fade" id="alreadyFunded">
                                    <div class="table-responsive">
                                    <table id="approvedFund" class="table  table-hover nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>DATE</th>
                                                <th>NAME</th>												
                                                <th>DESCRIPTION</th>
                                                <th>FUNDING REQUIRED FOR</th>
                                                <th>AMOUNT</th>
												<th>Funders Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/crossref.jpg" class="rounded-border"></i>
														<span>Club Mahindra</span>
													</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td class="courseBlock"><span class="courseName">Blockchain Basic Course</span><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/promise-funders.jpg" class="rounded-border"></i>
														<span>&nbsp;</span>
													</div>
												</td>
                                            </tr>
                                            <tr>
                                                <td>07-04-2020</td>
                                                <td>John Doe</td>                                                
                                                <td><button type="button" class="btn btn-outline-primary btn-cstm-rounded" data-toggle="modal" data-target="#exampleModalCenter">View Description</button></td>
                                                <td><span class="courseName">Blockchain Basic Course</span></td>
                                                <td>$9.99</td>
												<td>
													<div id="funder-details">
														<i><img src="img/funders/crossref.jpg" class="rounded-border"></i>
														<span>Club Mahindra</span>
													</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end FMD Details -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Funding Required</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  	  <h4>Wow! This is Awesome!</h4>
		  <p>Many people are getting problem in using bootstrap modal, so here I'm with custom modal which you can use anywhere.</p>      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<script src="/js/fundReq.js"></script>
<script>
  function handleFundRequestSubmit() {
    console.log("called handleFundRequestSubmit");
    const desc = document.getElementById("req-description").value;
    const courseId = document.getElementById("courseId").value;
    $.ajax({
      method: "post",
      url: "/api/requestNewFund",
      data: {
        desc: desc,
        courseId: courseId,
      },
    })
      .then((resp) => {
        if (resp.status === true) {
          $.notify("Successfully submitted the request", { type: "success" });
        } else {
          $.notify(resp.error, { type: "danger" });
        }
        $("#apply-fund-modal").modal("hide");
        document.getElementById("req-description").value = "";
        document.getElementById("courseId").value = "";
      })
      .catch((e) => {
        $.notify("Some error occured", { type: "danger" });
        $("#apply-fund-modal").modal("hide");
        document.getElementById("req-description").value = "";
        document.getElementById("courseId").value = "";
      });
  }
</script>
