<!-- refer to https://bitcoin.org/en/developer-guide#block-chain-overview -->
<div class="row mx-0">
  <nav class="col-sm-4 py-5 px-3 border-right" id={{{sidebarId}}} style="background: #fafbfc;">
    <script id="module-template" type="text/x-handlebars-template">
      \{{#with courses.[0]}}
  
          <ul>
            \{{#each curriculum as |ccm|}}
              <li><h4 class="pl-2 py-3" style="font-weight:600">\{{ccm.topic}}</h4></li>

              \{{#if ccm.sub-topic}}<ul>\{{/if}}
                \{{#each ccm.sub-topic as |sub|}}
                  <li><h5 class="pl-4 py-3">\{{sub}}</h5></li>
                \{{/each}}
              \{{#if ccm.sub-topic}}</ul>\{{/if}}

            \{{/each}}
          \{{/with}}
        </ul>

    </script>
  </nav>

  <section class="col-sm-8 p-4 module-content">
    <div class="container py-5">
      {{#> lessons-block}}
      {{/lessons-block}}
    </div>
  </section>
</div>
