{{> includes/hero hero-title="New Blog Post"}}
<section>
    <input type="text" name="keywords" id="keywords" placeholder="Enter keywords seperated by ';'"><br>
    <input type="text" name="topics" id="topics" placeholder="Enter Topics seperated by ';'"><br>
    <input type="text" name="title" id="title" placeholder="Enter Title">
    <textarea id="desc" name="desc" placeholder="Enter a short Descrition..."></textarea>
    <br>
    <h3 style="text-align: center">BLOG EDITOR</h3>
    <br>
    <textarea id="blog-content"></textarea>
    <br>
    <script>
        CKEDITOR.replace('blog-content');
    </script>
    <button onclick="saveDraft()">Save Draft</button>
    <button onclick="submitArticle()">Submit</button>
</section>
<script>
    function saveDraft() { // save a blog as draft
        const blog_id = window.location.href.split("?")[1].split("=")[1];
        const keywords = document.getElementById("keywords").value.split(";");
        const topics = document.getElementById("topics").value.split(";");
        const title = document.getElementById("title").value;
        const desc = document.getElementById("desc").value;
        $.ajax({
            method: "post",
            url: "/api/blogs/saveDraft",
            data: {
                content: CKEDITOR.instances['blog-content'].getData(),
                blog_id: blog_id,
                keywords: keywords,
                topics: topics,
                title: title,
                desc:desc
            },
            success: result => {
                if (result.saved) {
                    $.notify("Blog Saved Successfully", { type: "success" })
                } else {
                    $.notify(response.error, { type: "danger" })
                }
            },
            error: xhr => {
                $.notify("Some error occurred while making a request", { type: "danger" })
            }
        })
    }
    function submitArticle() { //  post the blog on the site
        let blog_id = window.location.href.split("?")[1].split("=")[1];
        $.ajax({
            method: "post",
            url: "/blogs/postBlog",
            data: {
                content: CKEDITOR.instances['blog-content'].getData(),
                blog_id: blog_id,
                keywords: keywords,
                topics: topics,
                title: title
            },
            success: response => {
                if (response.posted) {
                    $.notify("Successfully Posted the Blog", { type: "success" })
                } else {
                    $.notify(response.error, { type: "danger" })
                }
            },
            error: xhr => {
                $.notify("Some error occurred while making a request", { type: "danger" })
            }
        })
    }
</script>