{{> includes/hero hero-title="Payment Successfull"}}
<div class="container__cstm">

  <div>
    <h4 class="mb-3 exam-qns">
      Your payment is succesfully completed. Please check your email for exam link.
    </h4>
  </div>

</div>
<script src="/js/exam.js"></script>