{{> includes/hero hero-title="Payment Successfull"}}
<div class="container__cstm">

  <div>
    <form id="basicExamForm">
      <div class="card py-3 px-5 mb-4">
        <h4 class="mb-3 exam-qns">
             
               <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<strong>Your payment is succesfully completed. </strong></p>
                <p><strong>{{{message}}}</strong></p>


        </h4>
          
          
       
        
      </div>
      
    </form>
  </div>

</div>
<script src="/js/exam.js?v=1.2"></script>