{{> includes/hero hero-title=blog.title}}

<div class="sideshare">
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-whatsapp"></i>
    <i class="fa fa-instagram"></i>
</div>

<section class="read-blog" id="read-blog-container">
    {{{content}}}
</section>