{{> includes/hero hero-title="Video Library"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div id="video-page-wrapper" class="container__cstm">
    <div class="row">
        {{#if video}}

        <div class="col-lg-9 colo-md-8">
            <div class="embed-responsive embed-responsive-16by9">
                <video id="videoPlayer" controlsList="nodownload" controls width="600px" height="400px">
                    <source id="videoPlayerSource" src="https://www.blockdegree.org/api/videoStream/1" type="video/mp4">
                </video>
            </div>

            <ul class="nav nav-custom nav-borderless nav_tabs1" id="nav_tabs" role="tablist">
                <li class="nav-item"><a class="nav-link show active" href="#overview" role="tab" data-toggle="tab"
                        aria-selected="true">Overview</a>
                </li>
                <li class="nav-item"><a class="nav-link show" href="#notes" role="tab" data-toggle="tab"
                        aria-selected="false">Notes</a></li>
                <li class="nav-item"><a class="nav-link show" href="#announcement" role="tab" data-toggle="tab"
                        aria-selected="false">Announcements</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade active show" id="overview">
                    <div>
                        <h3>Content Coming Soon</h3>
                        {{!-- <p>Explore how to create a web application that sends requests to the server for
                            additional data
                            as users scroll the page.</p> --}}
                    </div>
                </div>
                <div class="tab-pane fade" id="notes">
                    <div>
                        {{!-- <h3>Create a new note</h3> --}}
                        {{!-- <p>Create an online video course, reach students across the globe, and earn money.</p>
                        --}}
                    </div>
                </div>
                <div class="tab-pane fade" id="announcements">
                    <div>
                        {{!-- <h3 class="fw6">Important Q&A support</h3> --}}
                        {{!-- <p>Happy 2019 to everyone, thank you for being a student and all of your support.</p> --}}
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-3 colo-md-4">
            <div id="video-links-block">
                <button videoId="1">1. Infinite scroll Introduction<br />
                    <div id="btn1" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 6 min
                    </div>
                </button>
                <button videoId="2">2. Scroll project Resources<br />
                    <div id="btn2" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 8 min
                    </div>
                </button>
                <button videoId="3">3. Setup basic application page<br />
                    <div id="btn3" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 3 min
                    </div>
                </button>
                <button videoId="4">4. Setup database application PHP<br />
                    <div id="btn4" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 6 min
                    </div>
                </button>
                <button videoId="5">5. jQuery scroll detection<br />
                    <div id="btn5" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 3 min
                    </div>
                </button>
                <button videoId="6">6. Source code conn.PHP<br />
                    <div id="btn6" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 5 min
                    </div>
                </button>
                <button videoId="7">7. Output API Contents PHP<br />
                    <div id="btn7" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 3 min
                    </div>
                </button>
                <button videoId="8">8. App development overview PHP<br />
                    <div id="btn8" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 4 min
                    </div>
                </button>
            </div>
        </div>

        {{else}}
        <div class="col-lg-12 colo-md-12">
            <h1 style="text-align: center;">To see video Please Subscribe</h1>
            <button class="btn btn-primary mt-3" style="display: block;margin:0 auto;" onclick="payment()"
                class="btn text-body btn-light mb-3" data-price="" id="">PayPal</button>
            {{/if}}
        </div>
    </div>

    <script>
        const videoPlayer = document.getElementById("videoPlayer")
        $('button[videoId="1"]').addClass('video-item-link-active')
        $('button').click(function () {
            videoPlayer.pause();
            let videoId = $(this).attr("videoId");
            $('#videoPlayerSource').attr('src', `https://www.blockdegree.org/api/videoStream/${videoId}`)
            videoPlayer.load();
            videoPlayer.play();
            $(this).addClass('video-item-link-active').siblings().removeClass('video-item-link-active')
            $($(this).attr('videoId')).addClass('video-item-link-active').siblings().removeClass('video-item-link-active');
        })
        function payment() {
            let formNew = document.createElement('form');
            formNew.action = "/pay-video";
            formNew.method = "post";
            document.body.appendChild(formNew);
            formNew.submit();
        }
    </script>