{{> includes/hero hero-title="Study Blockchain in 60minutes"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    #qnaEmail {
        display: none;
    }

    #qnaForm {
        width: 500px;
        height: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #qnaAns {
        border: 1px solid #3498db;
        border-radius: 0px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    #qnaBtn {
        width: 125px;
        background-color: #3498db;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 0px;
    }
    .flex-button{
        display: flex;
        justify-content: flex-end;
    }
</style>
<div id="video-page-wrapper" class="container__cstm">
    <div class="row">
        {{#if video}}
        <div class="col-lg-9 colo-md-8">
            <div class="embed-responsive embed-responsive-16by9">
                <div id="video-wrapper">
                    <input type="text" id="qnaEmail" name="qnaEmail">
                    <video id="videoPlayer" controlsList="nodownload" controls width="600px" height="400px">
                        <source id="videoPlayerSource" src="https://www.blockdegree.org/api/videoStream/1"
                            type="video/mp4">
                    </video>
                </div>

            </div>
            <ul class="nav nav-custom nav-borderless nav_tabs1" id="nav_tabs" role="tablist">
                <li class="nav-item"><a class="nav-link show active" href="#overview" role="tab" data-toggle="tab"
                        aria-selected="true">Overview</a>
                </li>
                <li class="nav-item"><a class="nav-link show" href="#notes" role="tab" data-toggle="tab"
                        aria-selected="false">Notes</a></li>
                <li class="nav-item"><a class="nav-link show" href="#announcement" role="tab" data-toggle="tab"
                        aria-selected="false">Announcements</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="overview">
                    <div id="overviewContent">

                    </div>
                </div>
                <div class="tab-pane fade" id="notes">
                    <div>
                        {{!-- <h3>Create a new note</h3> --}}
                        {{!-- <p>Create an online video course, reach students across the globe, and earn money.</p>
                        --}}
                    </div>
                </div>
                <div class="tab-pane fade" id="announcement">
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 colo-md-4">
            <div id="video-links-block">
                <button videoId="1">1. Introduction to Blockchain Tech<br />
                    <div id="btn1" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 7.10 min
                    </div>
                </button>
                <button videoId="2">2. 6 Features and Benefits of Blockchain Tech<br />
                    <div id="btn2" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 8.25 min
                    </div>
                </button>
                <button videoId="3">3. Distributed Ledger Technology<br />
                    <div id="btn3" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 4.18 min
                    </div>
                </button>
                <button videoId="4">4. How Blockchain Works<br />
                    <div id="btn4" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 11.56 min
                    </div>
                </button>
                <button videoId="5">5. Crypto Assets<br />
                    <div id="btn5" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 8.49 min
                    </div>
                </button>
                <button videoId="6">6. Bitcoin<br />
                    <div id="btn6" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 7.04 min
                    </div>
                </button>
                <button videoId="7">7. Ethereum<br />
                    <div id="btn7" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 3.49 min
                    </div>
                </button>
                <button videoId="8">8. Alt-coins<br />
                    <div id="btn8" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 2.42 min
                    </div>
                </button>
                <button videoId="9">9. Types of Crypto Assets<br />
                    <div id="btn9" class="video-item-link">
                        <i class="fa fa-play-circle"></i> 7.09 min
                    </div>
                </button>
                <button videoId="qna" id="qnaMain">Course Exit<br />
                    <div id="" class="video-item-link">
                        Q&A
                    </div>
                </button>
            </div>
        </div>
        {{else}}
        <div class="col-lg-12 colo-md-12">
            <h1 style="text-align: center;">To see video Please Subscribe</h1>
            <button class="btn btn-primary mt-3" style="display: block;margin:0 auto;" onclick="payment()"
                class="btn text-body btn-light mb-3" data-price="" id="">PayPal</button>
            {{/if}}
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $.ajax({
                method: "get",
                url: "/api/current_user",
                success: (result) => {
                    $.ajax({
                        method: "post",
                        url: "/api/getCourseExit",
                        data: { email: result.user.email, courseId: "video-stream" },
                        success: (getData) => {
                            if (getData.data.submitted === true) {
                                document.getElementById('qnaMain').style.display = "none"
                            }
                        }
                    })
                }
            })
        })

        const videoPlayer = document.getElementById("videoPlayer")
        const overviews = {{{ Overview }}};
        $('#overviewContent').html(overviews["1"])
        $('button[videoId="1"]').addClass('video-item-link-active')
        $('button').click(function () {
            videoPlayer.pause();
            let videoId = $(this).attr("videoId");
            console.log("videoId", videoId);
            if (videoId === "qna") {
                let qnaForm = `
                    <div id="qnaForm">
                        <label for="qna" id="qnaQuest" style="font-weight:500;text-align: left;">3 takeaways from your course ?</label>
                        <textarea type="text" name="qna" id="qnaAns" rows="4" cols="50" placeholder="Enter Your Answer"></textarea>
                        <div class="flex-button">
                            <button id="qnaBtn">Submit</button>
                        </div>
                    </div>
                    `
                $('.embed-responsive').removeClass('embed-responsive-16by9')
                $('#video-wrapper').html(qnaForm);
                document.getElementById('qnaBtn').addEventListener('click', () => {
                    let newForm = new FormData()
                    $.ajax({
                        method: "get",
                        url: "/api/current_user",
                        success: (result) => {
                            let question = "3 takeaways from your course ?"
                            let answer = document.getElementById('qnaAns').value
                            newForm.append('email', result.user.email)
                            newForm.append('question', question)
                            newForm.append('answer', answer)
                            $.ajax({
                                method: "post",
                                url: "/api/courseExit",
                                data: newForm,
                                enctype: "multipart/form-data",
                                contentType: false,
                                processData: false,
                                success: (qnaResult) => {
                                    if (qnaResult.status == 200) {
                                        window.location.reload()
                                    }
                                },
                                error: (resp) => {
                                    if (resp && resp.responseJSON && resp.responseJSON.message) alert(resp.responseJSON.message)
                                }
                            })
                        },

                    })
                })
                return;
            }
            $('#videoPlayerSource').attr('src', `https://www.blockdegree.org/api/videoStream/${ videoId }`)
            videoPlayer.load();
            videoPlayer.play();
            $(this).addClass('video-item-link-active').siblings().removeClass('video-item-link-active');
            $($(this).attr('videoId')).addClass('video-item-link-active').siblings().removeClass('video-item-link-active');

            $('#overviewContent').html(overviews[videoId])
        })
        function payment() {
            let formNew = document.createElement('form');
            formNew.action = "/pay-video";
            formNew.method = "post";
            document.body.appendChild(formNew);
            formNew.submit();
        }
    </script>