<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Blockdegree</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333; line-height:1.2; background-color:#eeeeee;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#eeeeee" style="background-color:#eeeeee;">
        <tr>
            <td>
                <center>
                    <table width="650" border="00" align="center" cellpadding="00" cellspacing="00" bgcolor="#FFFFFF" style="background-color:#FFFFFF;">
                        <tr>
                            <td>
                                <table width="650" border="00" cellspacing="00" cellpadding="00">
                                    <tr>
                                        <td height="95" style="height:95px;" bgcolor="#eeeeee">
                                            <table width="650" border="00" cellpadding="00" cellspacing="00">
                                                <tr>
                                                    <td height="50" style="height:50px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table width="650" border="00" cellspacing="00" cellpadding="00">
                                                            <tr>
                                                                <td width="200">&nbsp;</td>
                                                                <td width="250">
                                                                    <div style="margin:auto;width:250px;display:block;">
                                                                        <a href="https://blockdegree.org/" target="_blank"><img src="https://newuat.blockdegree.org/img/brand/blockdegree_dark.png" alt="Blockdegree Logo" width="250" height="48" style="outline:none;border-style:none;"></a>
                                                                    </div>
                                                                </td>
                                                                <td width="200">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="height:15px;"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#f8f8f8">
                                            <div style="margin:15px;width:620px;word-break:break-word;font-family:Arial, Helvetica, sans-serif;font-size:15px;line-height:18px;color:#9c9c9c;min-height:20px;">This is an automated email, please do not reply.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="15" align="center" style="font-size:15px;min-height:15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="650" border="00" cellspacing="00" cellpadding="00">
                                                <tr>
                                                    <td width="275">&nbsp;</td>
                                                    <td width="100">
                                                        <div style="margin:auto;width:100px;display:block;">
                                                            <a href="https://blockdegree.org/" target="_blank"><img src="https://newuat.blockdegree.org/img/emailer/congratulations.jpg" alt="Congratulations" width="100" height="100" style="outline:none;border-style:none;"></a>
                                                        </div>
                                                    </td>
                                                    <td width="275">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table width="650" border="00" cellspacing="00" cellpadding="00">
                                                <tr>
                                                    <td width="50" valign="top"><img src="https://newuat.blockdegree.org/img/emailer/blank.jpg" width="50" height="100%" style="outline:none;border-style:none;"></td>
                                                    <td width="550" valign="top">
                                                        <table width="550" border="00" cellspacing="00" cellpadding="00">
                                                            <tr>
                                                                <td height="15" align="center" style="font-size:15px;min-height:15px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 40px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:20px;line-height:22px;color:#464646;min-height:20px;text-align:center;font-weight:400;">Congratulations for Free Exam with Blockdegree.</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 20px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:18px;color:#7e7e7a;min-height:20px;">Dear <strong><%= userName %></strong>,</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 30px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#7e7e7a;min-height:20px;">Your can take free <strong><%= courseName %></strong> exam now, as you got fund for exam and certificatton. Please click below button to Take Exam.</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 20px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:25px;color:#FFFFFF;text-align:center;min-height:36px"><a href="https://newuat.blockdegree.org/exams" target="_blank" onMouseOver="this.style.backgroundColor='#f84b2f'" onMouseOut="this.style.backgroundColor='#f77762'" style="color:#FFFFFF;text-decoration:none;background-color:#f77762;padding:12px 20px 12px 20px;border-radius:6px;">Take Exam</a></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:5px 0 30px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#7e7e7a;min-height:20px;">If you are unable to click above button, please copy paste below URL to the browser address bar. <a href="https://newuat.blockdegree.org/exams" target="_blank" onMouseOver="this.style.textDecoration='none'" onMouseOut="this.style.textDecoration='underline'" style="color:#4b98e8;text-decoration:underline;">https://newuat.blockdegree.org/exams</a></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:5px 0 20px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:40px;color:#7e7e7a;text-align:left;min-height:40px;">Best regards,
                                                                        <br /><span style="font-weight:bold;">Blockdegree Team.</span></div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="50" valign="top"><img src="https://newuat.blockdegree.org/img/emailer/blank.jpg" width="50" height="100%" style="outline:none;border-style:none;"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="650" valign="middle" bgcolor="#eeeeee">
                                            <div style="margin:20px auto 10px auto;width:175px;">
                                                <table width="175px" cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td align="center" valign="middle">
                                                            <a href="https://www.facebook.com/Blockdegree.org" target="_blank" onMouseOver="this.style.backgroundColor='#f84b2f'" onMouseOut="this.style.backgroundColor='#fda84e'" style="color:#FFFFFF;text-decoration:none;background-color:#fda84e;padding:7px;width:18px;height:18px;display:block;left:10px;top:10px;text-align:center;vertical-align:middle;border-radius:50%;"><img src="https://newuat.blockdegree.org/img/emailer/facebook-icon.png" /></a>
                                                        </td>
                                                        <td width="25px">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://twitter.com/Blockdegree_org" target="_blank" onMouseOver="this.style.backgroundColor='#f84b2f'" onMouseOut="this.style.backgroundColor='#fda84e'" style="color:#FFFFFF;text-decoration:none;background-color:#fda84e;padding:7px;width:18px;height:18px;display:block;left:10px;top:10px;text-align:center;vertical-align:middle;border-radius:50%;"><img src="https://newuat.blockdegree.org/img/emailer/twitter-icon.png" /></a>
                                                        </td>
                                                        <td width="25px">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://www.linkedin.com/company/blockdegree/" target="_blank" onMouseOver="this.style.backgroundColor='#f84b2f'" onMouseOut="this.style.backgroundColor='#fda84e'" style="color:#FFFFFF;text-decoration:none;background-color:#fda84e;padding:7px;width:18px;height:18px;display:block;left:10px;top:10px;text-align:center;vertical-align:middle;border-radius:50%;"><img src="https://newuat.blockdegree.org/img/emailer/linkedin-icon.png" /></a>
                                                        </td>
                                                        <td width="25px">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://www.youtube.com/channel/UCXf6t8erj-TQSdJPuSGJtig" target="_blank" onMouseOver="this.style.backgroundColor='#f84b2f'" onMouseOut="this.style.backgroundColor='#fda84e'" style="color:#FFFFFF;text-decoration:none;background-color:#fda84e;padding:7px;width:18px;height:18px;display:block;left:10px;top:10px;text-align:center;vertical-align:middle;border-radius:50%;"><img src="https://newuat.blockdegree.org/img/emailer/youtube-icon.png" /></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="650" height="21" bgcolor="#eeeeee" style="height:21px;">
                                            <div style="margin:10px auto;background-color:#bababa;min-height:1px;height:1px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eeeeee">
                                            <div style="margin-left:10px;margin-right:10px;width:630px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;color:#7e7e7a;text-align:center;min-height:20px"><a href="https://newuat.blockdegree.org/guides" target="_blank" onMouseOver="this.style.color='#5f5e5e'" onMouseOut="this.style.color='#7e7e7a'" style="color:#7e7e7a;text-decoration:none;padding:5px;">Guides</a> | <a href="https://newuat.blockdegree.org/statistics" target="_blank" onMouseOver="this.style.color='#5f5e5e'" onMouseOut="this.style.color='#7e7e7a'" style="color:#7e7e7a;text-decoration:none;padding:5px;">Statistics</a> | <a href="https://newuat.blockdegree.org/terms-and-conditions" target="_blank" onMouseOver="this.style.color='#5f5e5e'" onMouseOut="this.style.color='#7e7e7a'" style="color:#7e7e7a;text-decoration:none;padding:5px;">Terms & Conditions</a> | <a href="https://newuat.blockdegree.org/privacy-policy" target="_blank" onMouseOver="this.style.color='#5f5e5e'" onMouseOut="this.style.color='#7e7e7a'" style="color:#7e7e7a;text-decoration:none;padding:5px;">Privacy Policy</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="650" height="21" bgcolor="#eeeeee" style="height:21px;">
                                            <div style="margin:10px auto;background-color:#bababa;min-height:1px;height:1px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eeeeee">
                                            <div style="margin:5px; width:630px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;color:#999999;text-align:center;min-height:20px">Copyright © 2020, Blockdegree. All rights reserved.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eeeeee">
                                            <div style="margin:5px 10px 50px 10px;width:630px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:20px;color:#999999;text-align:center;min-height:20px">If you are not interested in receiving further emails, please <a href="unsubscribe" target="_blank" onMouseOver="this.style.textDecoration='none'" onMouseOut="this.style.textDecoration='underline'" style="font-weight:bold;color:#5f5e5e;text-decoration:underline;">Click here</a> to unsubscribe.</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </center>
            </td>
        </tr>
    </table>
</body>

</html>