.u-center-text {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-pad-right-1 {
  padding-right: 1rem;
}

.justify-center {
  justify-content: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-float-right {
  float: right;
}

.u-border-btm {
  border-bottom: 1px solid $color-light-grey;
}

.lg-hori-1 {
  @media screen and (max-width: 992px) {
    padding-bottom: 1rem;
  }
}

.u-back-light {
  &:hover {
    background-color: $color-primary-light;
  }
}

.u-text-right {
  text-align: right;
}

.u-scroll-x {
  width: 100%;
  overflow-x: auto;
}
