/* =================================== */
/*  Contact Page Styles
/* =================================== */
.mapouter {
  @include media-breakpoint-up(sm) {
    width: 100%;
    height: 40vh;

    iframe {
      width: 100%;
      height: 40vh;
    }
  }
}

.contact-page-area {
    .contact-btns {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 40px;
        color: $white;
        margin-bottom: 30px;
        &:hover {
            color: $white;
        }
    }
    .form-area {
        .form-control{
            background-color: #f6f6f6;
			border: 1px solid #ccc;
			&:focus, &:hover {
                box-shadow: none!important;
                /*border-color:#ced4da!important;*/
				background-color: #fff;
                border-color: #2073D4;
            }
        }
        input {
            padding: 15px;
        }
        input,
        textarea {
            border-radius: 50px;
            font-size: 13px!important;
        }
        textarea {
            height: 190px;
            margin-top: 0px;
            padding: 15px;
			border-radius: 20px;
        }
        .genric-btn {
            @include transition();
            border-radius: 50px!important;
            font-size: 14px;
            text-transform: uppercase!important;
            &:hover {
                /*border: 1px solid $primary-color;
                color: $primary-color!important;*/
				color: $white;
				background-color: #39ace7;
				border-color: #39ace7;
            }
        }
    }
    .address-wrap{
        @media(max-width:991px){
            margin-bottom:30px;
        }
        .single-contact-address {
            margin-bottom: 8px;
            h5 {
                font-weight: 300;
                font-size: 16px;
                margin-bottom: 5px;
            }
            .lnr {
                font-size: 30px;
                font-weight: 500;
                color: $primary-color;
                margin-right: 30px;
            }
        }
    }
}
