// Single course page
#course__info {
  .cta {
    height: 25vh;
    @include media-breakpoint-up(sm) {
      height: 40vh;
    }
  }
  .hero-banner {
  	padding-top: 100px;
  }
  .courses-banner-bg {
  	background: url(' /img/hero-course.jpg ') center/cover;
  }
  .hero-banner h1 {
  	font-size: 38px;
	line-height: 36px!important;
  }
  .hero-banner p {
  	line-height: 1.4rem!important;
  }
}

// Single module page: Course content
.course-module {
  /*#header {
    background: white;
    border-bottom: 1px solid #ced4da;
    @include media-breakpoint-up(sm) {
      position: sticky;
    }
  }*/

  .module-content {
    h1, h2, h3, h4, h5 {
      margin-top: 60px;
      margin-bottom: 15px;
    }

    ul li {
      list-style-type: circle;
      margin-left: 20px;
      padding-bottom: 15px;
      @include media-breakpoint-up(sm) {
        margin-left: 30px;
      }
    }

    pre {
      border: 1px solid $border;
      background: $bg--muted;
      font-size: 14px;
      padding: 15px;
    }

    ul li {
      list-style-type: circle;
      margin-left: 20px;
      padding-bottom: 15px;
      @include media-breakpoint-up(sm) {
        margin-left: 30px;
      }
    }
  }
}

.curriculum--fixed {
  position: fixed;
  left: 0;
  top: 70px;
  width: 100%;
  background: #fafbfc;
  z-index: 999;
}

#mod__details .arrow {
  &:hover {
    cursor: pointer;
    color: #2073D4;
  }
}

#mod__details.mod--fixed{
  position: fixed;
  z-index: 99;
  top: 110px;
  left: 0;
  width: 100%;
  background: #fafbfc;
}


/*  Courses Page Styles
/* =================================== */


/*-------- Start courses page Area ------------*/

.courses-page {
    .single-popular-carusel {
        margin-bottom: 40px;
    }
    .primary-btn {
        border: 1px solid transparent;
        &:hover {
            background: transparent;
            border-color: $primary-color;
            color: $primary-color;
        }
    }
}

.mod__sidebar {
  .mod__heading,
  .mod__sub-heading {
    &:hover,
    &.active {
      color: $nav--hover;
    }
  }
}

.cert-block {
  position: relative;
  margin-top: 100px;

  &:before {
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    border-top: 4px solid $border;
  }
}
