.exam-choice {
  display: inline-block;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:hover {
    color: $primary-color;

    input[type="radio"] {
      cursor: pointer;
      border: 2px solid $btn--secondary;
    }
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    position: relative;
    border-radius: 100%;
    margin-right: 10px;
    top: 2px;
    border: 2px solid $text--muted-color;

    &:checked {
      background-color: $btn--secondary;
      border: 2px solid transparent;

      & + label {
        color: $primary-color;
      }
    }
  }

  label {
    cursor: pointer;
  }
}
