.exam-heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

#basicExamForm {
	.card {
	  border:none;
	}
	h4 {
	  font-size: 16px;
	  font-weight: 500;
	}
	.exam-choice {
	    [type="radio"]:checked,
		[type="radio"]:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		[type="radio"]:checked + label,
		[type="radio"]:not(:checked) + label
		{
			position: relative;
			padding-left: 28px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: #666;
		}
		[type="radio"]:checked + label:before,
		[type="radio"]:not(:checked) + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 18px;
			height: 18px;
			border: 1px solid #989da2;
			border-radius: 100%;
			background: #FFF;
		}
		[type="radio"]:checked + label:after,
		[type="radio"]:not(:checked) + label:after {
			content: '';
			width: 12px;
			height: 12px;
			background: #FF8348;
			position: absolute;
			top: 3px;
			left: 3px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		[type="radio"]:not(:checked) + label:after {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		[type="radio"]:checked + label:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	
	.btn-primary {
	  border-radius: 50px;
      padding: 8px 20px !important;
	}
}

.exam-choice {
  display: inline-block;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:hover {
    color: $primary-color;

    input[type="radio"] {
      cursor: pointer;
      border: 2px solid $btn--secondary;
    }
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    position: relative;
    border-radius: 100%;
    margin-right: 5px;
    top: 2px;
    border: 2px solid $text--muted-color;

    &:checked {
      background-color: $btn--secondary;
      border: 2px solid transparent;

      & + label {
        color: $primary-color;
      }
    }
  }

  label {
    cursor: pointer;
  }
}

#exams__list {
  .card {
    border-radius: 10px;
	border: none;
	background-color: #f1f5f7;
  }
  .card-title {
    font-size:20px;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	
	  @media (min-width: 1200px) {}
	  @media (min-width: 992px) and (max-width: 1199.98px) {font-size:16px;}
	  @media (min-width: 768px) and (max-width: 991.98px) {font-size:16px;}
	  @media (min-width: 576px) and (max-width: 767.98px) {font-size:16px;}
	  @media (max-width: 575.98px) {font-size:18px;}
  }

  .card-price {
    padding: 20px;
	/*min-height: 230px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	
    .btn {
      @include transition(all 0.4s);
      position: relative;
      width: 100%;
      padding: 10px 15px;
      background: rgba(255,255,255,1);
	  border-radius: 50px;

      &:hover {
		box-shadow: rgba(0,0,0,0.5) 0px 10px 25px -5px!important;
      }
    }
	
	h2 {
	  min-height: 52px;
	}
  }

  .single-exam__course:nth-child(3n+1) .card-title,
  .single-exam__course:nth-child(3n+1) .card-price {
    background: #1abc9c;
  }
  .single-exam__course:nth-child(3n+2) .card-title,
  .single-exam__course:nth-child(3n+2) .card-price {
    background: $primary-color;
  }
  .single-exam__course:nth-child(3n+3) .card-title,
  .single-exam__course:nth-child(3n+3) .card-price {
    background: #fe6c6c;
  }
  
  .promoCode-block {
    display: none;
  }
  
  .promoCode-btn {
    font-size: 14px;
	color: rgba(255,255,255,0.6);
	padding: 0px;
	margin: 0px;
	line-height: 16px;
	
	&:hover {
	  cursor: pointer;
	  color: rgba(255,255,255,1);
	}
  }  

  .input-group .btn {
    @include transition(all 0.4s);
	width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	background: rgba(0,0,0,0.3)!important;
	border: none;
	padding: 10px 15px;
	
	&:hover {
		background: rgba(0,0,0,0.2)!important;
		box-shadow: none!important;
      }
  }
  
  .input-group {
    width: 100%;
    margin: 0 auto;
 
	  input {
		@include transition(all 0.4s);
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		background: rgba(255,255,255,0.9)!important;
		border: none;
		padding: .375rem 1rem!important;
		font-size: 0.9rem;
		height: 46px;
		
		&:hover,
		&:focus,
		&:active {
		  background: rgba(255,255,255,1)!important;
		  box-shadow: none!important;
		}
	  }
  }
}
