.fmd-page-wrapper {
  .fmd-block-bg {
    position: relative;
    padding: 175px 0px 150px 0px;
    background: #3a7bd5;
    background: -webkit-linear-gradient(to bottom, #1488cc, #3a7bd5);
    background: linear-gradient(to bottom, #1488cc, #3a7bd5);
  }

  .fmd-block-bg-content {
    max-width: 80%;
  }

  .fmd-block-bg h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }

  .fmd-block-bg p {
    color: #ffffff;
    font-size: 17px;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
  }

  .fmd-block-bg .btn-white {
    color: #FFFFFF;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    padding: 12px 20px;
  }

  .fmd-block-bg .btn-white:hover {
    color: #3a7bd5;
    background: #ffffff;
  }

  .btn.border.white {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
  }

  .btn.border.white:hover {
    background: #ffffff !important;
    color: #00324c !important;
  }

  #fundingRequired .table td,
  .table th,
  #alreadyFunded .table td,
  .table th {
    /*background-color: #ffffff;*/
  }

  @media (max-width: 768px) {
    .fmd-block-bg .d-flex {
      display: table !important;
    }

    .fmd-block-bg-content {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }

  #fmd-block {
    position: relative;
    top: -78px;
    margin-bottom: -20px;
  }

  .table {
    td: {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #f3f3f3;
      white-space: nowrap;
      border-bottom: 2px solid #f3f3f3;
      font-size: 0.9625rem;
      font-weight: 600;
      background-color: #fafafa;
    }

    th: {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #f3f3f3;
      white-space: nowrap;
      border-bottom: 2px solid #f3f3f3;
      font-size: 0.9625rem;
      background-color: #fafafa;
    }
  }

  .table>tbody>tr>td,
  .table>tfoot>tr>td,
  .table>thead>tr>td {
    padding: 12px 12px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .courseName {
    float: left;
    clear: both;
  }

  #funder-details {
    display: inline-block;
  }

  #funder-details i {
    display: table-cell;
    vertical-align: middle;
  }

  #funder-details img {
    display: block;
    max-height: 45px;
    width: inherit;
  }

  #funder-details .rounded-border {
    padding: 2px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
  }

  #funder-details span {
    font-size: 15px;
    color: #383838;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
  }

  /*--------------- nav custom tabs starts ---------------*/
  .nav-custom .nav-link {
    color: #47494f;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.5rem 1.5rem;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    transition: 0.3s;
    margin-bottom: -1px;
    margin-top: -1px;
  }

  .nav-custom .nav-link:hover {
    color: #3498db;
  }

  .nav-custom .nav-link.active {
    border-bottom-color: #3498db;
    color: #3498db;
  }

  /*--------------- nav custom tabs ends ---------------*/

  /*------------------------ Add-on css rules------------------*/
  #pendingFund_filter,
  #approvedFund_filter {
    input {
      border-radius: 20px;
      box-shadow: none;
      border: 1px solid lightgray;
      padding-left: 10px;
    }
  }

  #pendingFund_length,
  #approvedFund_length {
    label {
      margin-bottom: 1rem;
    }
  }

  #pendingFund_length,
  #approvedFund_length {
    select {
      border: 1px solid lightgrey;
      border-radius: 5px;
      background-color: white;
      display: inline-block;
    }
  }

  #pendingFund_next,
  #pendingFund_previous,
  #approvedFund_next,
  #approvedFund_previous {
    &:hover {
      background-color: white !important;
      background: white !important;
      color: #2073d4 !important;
      border: 1px solid #2073d4;
    }
  }

  .modal-title {
    font-size: larger;
    font-weight: 400;
  }

  .modal-body__title {
    font-size: large;
    font-weight: 300;
    color: darken($color: #2073d4, $amount: 10);
  }

  .modal-input-wrapper {
    padding: 10px;
  }

  .tablinks {
    margin: 1px;
    background-color: #2073d4;
    color: white;

    &:active {
      color: #2073d4;
      background-color: white;
    }
  }

  #applyNow>div>div>div.modal-body>div:nth-child(6)>ul {
    border-bottom: none;
  }

  .tab-content {
    overflow: hidden;
    padding: 5px;

    .hidden {
      height: 0px;
      -webkit-transition: height, 0.3s linear;
      -moz-transition: height, 0.3s linear;
      -ms-transition: height, 0.3s linear;
      -o-transition: height, 0.3s linear;
      transition: height, 0.3s linear;
    }

    .open {
      height: 100px;
      -webkit-transition: height, 0.3s linear;
      -moz-transition: height, 0.3s linear;
      -ms-transition: height, 0.3s linear;
      -o-transition: height, 0.3s linear;
      transition: height, 0.3s linear;
    }
  }

  .modal-footer {
    margin: 2px;

    .fund-btn {
      position: absolute;
      left: 80px;
    }

    .fund-btn-close {
      position: absolute;
      left: 10px;
    }
  }

  #requestUrlShort--input {
    border: none;
    background-color: transparent;
    display: inline;

    &:hover {
      color: #3a7bd5;
    }
  }

  .table-hover tbody tr:hover,
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fb !important;
  }

  #pendingFund {
    /*border-bottom: none;*/
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px !important;
  }

  #pendingFund>thead>tr>th {
    color: #4f5258;
    font-size: .9525rem;
    font-weight: 500;
    background-color: #fafafa;
    border-bottom: 1px solid lightgrey;
  }

  #approvedFund {
    /*border-bottom: none;*/
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px !important;
  }

  #approvedFund>thead>tr>th {
    color: #4f5258;
    font-size: .9525rem;
    font-weight: 500;
    background-color: #fafafa;
    border-bottom: 1px solid lightgrey;
  }

  #approvedFund {
    margin-bottom: 0;
  }

  #fundingRequired table button.btn.btn-primary,
  #alreadyFunded table button.btn.btn-primary {
    white-space: inherit;
  }


  #fundingRequired .dataTables_wrapper .dataTables_paginate .paginate_button,
  #alreadyFunded .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #fundingRequired .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
  #alreadyFunded .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #FFFFFF !important;
    color: #2073d4 !important;
    border: 1px solid #2073d4;
  }






  #paymentMethodModal>div>div>div.modal-body {
    text-align: center;
  }

  .qr-code-wrapper {
    text-align: center;

    .qr-text {
      img {
        width: 17px;
        height: 17px;
      }
    }

    .xdc-qr-img {
      margin: 5px;
    }

    .xdc-value {
      color: #2073d4;
    }

    .xdc-addr-txt {
      width: 100%;
      overflow-x: scroll;
      ;
    }

    #xdc-modal-copy-btn {
      margin: 2px
    }

    #xdc-addr-value-modal {
      margin-bottom: 5px;
    }

    .modal-footer {
      display: inline-block;
      justify-content: center;

      img {
        width: 17px;
        height: 17px;
      }
    }
  }

  .claim-fund {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }

  #requestModal {



    .modal-header {
      .funded-by {
        position: absolute;
        top: 42px;
        font-weight: 400;
        font-size: 14px;

        .funder-name {
          font-weight: 300;
        }
      }
    }

    .modal-footer {

      i:hover {
        transform: scale(1.2, 1.2);
      }

      .fa-whatsapp {
        color: green;
      }

      .fa-twitter {
        color: #1DA1F2;
      }

      .fa-linkedin {
        color: #0e76a8
      }

      .fa-facebook {
        color: #3b5998;
      }

      .funded {
        position: absolute;
        left: 80px;
        font-weight: 500;
        /*color: black;
        border: 1px solid black;*/
        padding: 12px;
        font-size: 15px;
        border-radius: 5px;
      }

      .funded i {
        font-size: 14px;
        padding-left: 5px;
      }

      .funded i:hover {
        transform: inherit;
      }
    }
  }

}

#postLinkedin>div>div>div.modal-body>div.banner-title {
  text-align: center;
  font-weight: 400;
}

#postTwitter>div>div>div.modal-body>div.banner-title {
  text-align: center;
  font-weight: 400;
}


/*--------------- postLinkedin Modal css starts ---------------*/
#postTwitter textarea,
#postLinkedin textarea {
  width: 100%;
}

#postTwitter button i,
#postLinkedin button i {
  margin-left: 6px;
  font-size: 20px;
}

#postTwitter ul.thumbnails.image_picker_selector,
#postLinkedin ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex
}

#postTwitter ul.thumbnails.image_picker_selector ul,
#postLinkedin ul.thumbnails.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0
}

#postTwitter ul.thumbnails.image_picker_selector li.group_title,
#postLinkedin ul.thumbnails.image_picker_selector li.group_title {
  float: none
}

#postTwitter ul.thumbnails.image_picker_selector li,
#postLinkedin ul.thumbnails.image_picker_selector li {
  margin: 0 12px 12px 0;
  float: left;
  display: flex
}

#postTwitter ul.thumbnails.image_picker_selector li:last-child,
#postLinkedin ul.thumbnails.image_picker_selector li:last-child {
  margin-right: 0
}

#postTwitter ul.thumbnails.image_picker_selector li .thumbnail,
#postLinkedin ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

#postTwitter ul.thumbnails.image_picker_selector li .thumbnail img,
#postLinkedin ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none;
  border: 1px solid #fff;
  border-radius: 4px
}

#postTwitter ul.thumbnails.image_picker_selector li .thumbnail.selected,
#postLinkedin ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #08c
}

/*--------------- postLinkedin Modal css ends ---------------*/




/*--------------- Fund My Degree page css starts ---------------*/
.fmd-features {
  padding-top: 30px;
  padding-left: 50px;
}

.fmd-features.alt {
  padding-left: 0px;
  padding-right: 50px;
}

.fmd-features li {
  overflow: hidden;
  margin-bottom: 5px;
}

.fmd-features li:hover .count span {
  background: #2073d4;
  color: #fff;
}

.fmd-features li .count {
  float: left;
  width: 68px;
  min-height: 90px;
  background: url(../img/fmd/features-dots.png) center bottom no-repeat;
}

.fmd-features li .count span {
  display: block;
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin: auto;
  border: 1px solid #2073d4;
  font-weight: 600;
  font-size: 16px;
  color: #2073d4;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fmd-features li .text {
  float: left;
  width: calc(100% - 68px);
  width: -webkit-calc(100% - 68px);
  padding-left: 5px;
}

.fmd-features li .text .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #002844;
  margin-top: 5px;
  margin-bottom: 12px !important;
}

.fmd-features li .text p {
  font-weight: 300;
  font-size: 16px;
  color: #464646;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin-bottom: 0px;
}

.fmd-features-btn-block {
  margin-top: 25px;
  padding-left: 65px;
}

.fmd-features-btn-block .btn-primary:hover {
  background: #FFFFFF;
  color: #007bff !important;
}

.fmd-features-btn-block .btn-primary.focus,
.fmd-features-btn-block .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5)
}

.fmd-features-btn-block .btn-primary.disabled,
.fmd-features-btn-block .btn-primary:disabled {
  color: #FFFFFF !important;
  background-color: #005cbf;
}

.fmd-features-btn-block .btn-primary:not(:disabled):not(.disabled).active,
.fmd-features-btn-block .btn-primary:not(:disabled):not(.disabled):active {
  color: #FFFFFF !important;
  background-color: #005cbf;
}

.fmd-features-btn-block .btn-primary:not(:disabled):not(.disabled).active:focus,
.fmd-features-btn-block .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5)
}

.fmd-features-btn-block.alt {
  padding-left: 15px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .fmd-features {
    padding-left: 0px;
  }

  .fmd-features.alt {
    padding-right: 0px;
  }

  .fmd-features-btn-block {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .fmd-features {
    padding-left: 0px;
  }

  .fmd-features.alt {
    padding-right: 0px;
  }

  .fmd-features-btn-block {
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .fmd-features-btn-block.alt {
    margin-bottom: 25px;
  }
}

#funder-certi-msg {
  margin: 10px;
  width: auto;
}


.fund-apply-section {

  .fund-apply-form {
    margin: -50px 0px 10px 100px;
    transform: translate(0, 0);
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 50%;

    @media (max-width: 768px) {
      margin: -50px 0px 0px 20px;
      width: 80%;
    }

    .form-name {
      margin-top: 15px;
      margin-left: 10px;
      padding: 3px 0px 3px 10px;
      font-size: 28px;
      font-weight: 400;
      color: #3a98db;

      .underline {
        margin-top: 10px;
        height: 3px;
        width: 100px;
        background-color: #3a98db;
      }
    }

    .form-body {
      padding: 25px;

      .form-footer {
        padding-right: 20px;
        text-align: right;
      }
    }
  }

  .section-footer {
    text-align: left;
    margin-left: 120px;

    @media (max-width: 768px) {
      margin-left: 20px;
    }
  }

}

.tot-fund-amount {
  float: right;
  margin: 10px;
}

/*--------------- Fund My Degree page css ends ---------------*/