/* =================================== */
/*  Homepage Styles
/* =================================== */

.section-gap {
    /*padding: 30px 20px;*/
	padding: 30px 5px;
}


.alert-msg {
    color: #008000;
}

.primary-btn {
    background: $primary-color;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: $white;
    display: inline-block;
    font-weight: 500;
    position: relative;
    @include transition();
    cursor: pointer;
    position: relative;
    &:focus {
        outline: none;
    }
    span {
        color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        right: 30px;
        @include transition();
    }
    &:hover {
        color: $white;
        span {
            color: $white;
            right: 20px;
        }
    }
    &.white {
        border: 1px solid $white;
        color: $white;
        span {
            color: $white;
        }
        &:hover {
            background: $white;
            color: $primary-color;
            span {
                color: $primary-color;
            }
        }
    }
}

.primary-btn.wh{
    background:$white;
    color:$black;
    text-transform: uppercase;
    &:hover{
        background:$black;
        color:$white;
    }
}


.primary-btn.squire {
    border-radius: 0px!important;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $white;
        background: transparent;
        color: $white;
    }
}

.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    h1 {
        margin-bottom: 10px;
    }
}

/*-------- Start Banner Area ------------*/
#home.banner-area {
    background: url(../img/home/software-blockchain-professional-engineers.jpg) right top;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      min-height: 50vh;
    }
    @include media-breakpoint-up(sm) {
      min-height: 100vh;
    }
    @include media-breakpoint-up(xl) {
      min-height: 60vh;
    }

    .row {
      @include media-breakpoint-down(sm) {
        min-height: 50vh;
      }
      @include media-breakpoint-up(sm) {
        min-height: 100vh;
      }
      @include media-breakpoint-up(xl) {
        min-height: 60vh;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%!important;
      height: 100%;
      /*@include linear-gradient(60deg, rgba(#fff, 80%), rgba(#fff, 0.3));*/
	  @include linear-gradient(60deg, rgba(#00265e, 0.2));
      @include media-breakpoint-up(md) {
        width: 80%;
      }
      @include media-breakpoint-up(xl){
        @include linear-gradient(80deg, rgba(#fff, 80%), rgba(#fff, 0));
      }
    }
}

@media(max-width:767px) {
    .fullscreen {
        height: 700px !important;
    }
}

.banner-content {
    text-align: left;
    h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 1em;
        margin-top: 10px;
		color: $white;
        @include media-breakpoint-down(md) {
            font-size: 36px;
        }
        br {
            @include media-breakpoint-down (md) {
                display: none;
            }
        }
        @include media-breakpoint-down (lg) {
            font-size: 45px;
        }
        @media ( max-width:480px) {
            font-size: 32px;
        }
    }
	p {
		font-size: 18px;
    	font-weight: 300;
    	line-height: 26px;
	}

    .primary-btn {
        background-color: $primary-color;
        color: $white;
        font-weight: 600;
        font-size: 14px;
        &:hover {
            background-color: $white;
            color:$primary-color;
        }
    }
}

/*-------- End Banner Area ------------*/

/*-------- Start Abovefold Area ------------*/
#above-fold {
  img {
    height: 50px;
  }
}
/*-------- End Abovefold Area ------------*/

/*-------- Start technological partners Area ------------*/
#partners {
  img {
    max-height: 150px;
  }
}
/*-------- End technological partners Area ------------*/

/*-------- Start contributors Area ------------*/
.contributors {
  z-index: 5;
  position: relative;
}

.contributors__carousel {
  img {
    height: 150px;
    width: 150px;
	border: 4px solid #ccc;
  }
}
/*-------- End contributors Area ------------*/

/*-------- Start CTA Area ------------*/
.home__cta {
  height: 40vh;
  @include media-breakpoint-up(md){
    height: 70vh;
  }
  @include media-breakpoint-up(xl) {
    height: 60vh;
  }
}

.home__cta--container {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: -10vh;
  background: url('../img/home/collaborators-blockchain-professional.jpg') top/cover;
  @include media-breakpoint-up(md) {
    height: 80vh;
  }
  @include media-breakpoint-up(xl) {
    height: 70vh;
  }

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    @include linear-gradient(60deg, rgba($overlay__gradient--stop-1, 0.85), rgba($overlay__gradient--stop-2, 0.85));
  }

  .row {
    height: 50vh;
    @include media-breakpoint-up(md) {
      height: 80vh;
    }
    @include media-breakpoint-up(xl) {
      height: 70vh;
    }
  }
  
  .overlay__content {
    bottom: -15px;
	
	.btn-outline-light {
	  border-radius: 50px;
      padding: 8px 25px !important;
	}
  }
}

/*-------- End CTA Area ------------*/

/*-------- Start feature Area ------------*/

.feature-area{
    margin-top:-62px;
}

.single-feature{
    text-align: center;
    .title{
        background:rgba(#fff,.15);
        padding:20px 0px;
        @include transition();
        h4{
            color:$white;
        }
    }
    .desc-wrap{
        padding:20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
        a{
            font-size:14px;
            font-weight:600;
            @include transition();
            color:$black;
        }
    }
    &:hover{
        cursor:pointer;
        .title{
            background:$primary-color;
        }
        .desc-wrap{
            a{
                color:$primary-color;
            }
        }
    }
    @media(max-width:991px){
        margin-bottom:30px;
        .title{
            background:$primary-color;
        }
    }
}


/*-------- End feature Area ------------*/


/*-------- Start course Area ------------*/
.course__single {
  .content--rounded {
    position: relative;
    height: 100%;
    @include media-breakpoint-up(sm){
      max-height: 225px;
    }

    h3, a, p {color: white;}
	
	p {line-height: 22px;}

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $overlay--dark;
      top: 0;
      left: 0;
      @include opacity(0.5);
      z-index: 0;
    }
  }

  &:hover {
    a, h3, p { color: black; }
    .content--rounded{
      -webkit-box-shadow: 7px 14px 93px -29px rgba(0,0,0,0.75);
      -moz-box-shadow: 7px 14px 93px -29px rgba(0,0,0,0.75);
      box-shadow: 7px 14px 93px -29px rgba(0,0,0,0.75);

      &:before {
      background: white;
      @include opacity(0.9);
    }}
  }
}

/*-------- End course Area ------------*/




/*-------- Start Common Page Style   -------------*/

.link-nav {
    margin-top: 10px;
    margin-bottom: 0px;
}

.about-banner {
    background: url(../img/top-banner.jpg) right no-repeat;
    background-size:cover;
}

.about-content {
    margin-top: 110px;
    padding: 90px 0px;
    text-align: center;
    @media(max-width: 767px) {
        margin-top: 70px;
    }
    h1 {
        font-size: 48px;
        font-weight: 600;
    }
    a {
        color: $white;
        font-weight: 300;
        font-size: 14px;
    }
    .lnr {
        margin: 0px 10px;
        font-weight: 600;
    }
}


/*-------- End Common Page Style   -------------*/






/*-------- Start Contributors Area Style ------------*/
.contributors-block {
  z-index: 5;
  position: relative;
}

.contributors_slider {
  img {
    height: 175px;
    width: 175px;
	border: 4px solid #ccc;
  }
}
/*-------- End Contributors Area Style ------------*/
