.wrap-blogs {
  background-color: lightgrey;
  padding: 10px;
  height: 100%;
  overflow: auto;
}

.blog-card {
  float: left;
  background-color: white;
  margin: 0.5%;
  padding: 0.5%;
  width: 18rem;
}

.blog-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}