.navbar {

  padding: 0.5rem;
  a {
    outline: 0;
  }

  &__brand {
    vertical-align: bottom;
    padding-top: 0.5rem;
  }

  &-brand {
    font-size: 2.5rem;
  }
  &__links {
    a {
      outline: 0;
      box-sizing: content-box;
      color: $color-white !important;
      display: inline-block;
      margin: 0.25rem;
      padding: 0.75rem;
      font-size: 1.6rem;
      font-weight: 400;
      &:hover {
        transform: none;
      }
    }

    .nav-link{
      &:active, &:focus{
        color: $color-white !important;
      }
    }
  }

  &__dropdown {
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: 400;

    #basic-nav-dropdown {
      color: $color-white;
    }

    .dropdown-menu {
      background-color: $color-header-light;
      padding: 1rem;
      margin: 0;
      a {
        outline: 0;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-light-grey;
        padding: 1rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: $color-header-lighter;
          color: $color-white;
        }
      }

      .active {
        background-color: $color-header-lighter;
        color: $color-white;
      }
    }
  }
}
