<footer class="footer-area">
  <div class="container section-gap">
      <div class="row">
          <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="single-footer-widget">
                  <h4>Useful</h4>
                  <ul>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="/privacy-policy.html">Privacy Policy</a></li>

                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-footer-widget">
                  <h4>About</h4>
                  <ul>
                      <li><a href="#">Guides</a></li>

                  </ul>
              </div>
          </div>
          <div class="col-lg-4  col-md-6 col-sm-6">
              <div class="single-footer-widget">
                  <h4>Newsletter</h4>
                  <p>Stay updated with our latest news</p>
                  <div class="" id="mc_embed_signup" style="">
                      <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                          <div class="input-group">
                              <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
                              <div class="input-group-btn">
                                  <button class="btn btn-default" type="submit">
                                      <span class="lnr lnr-arrow-right"></span>
                                  </button>
                              </div>
                              <div class="info"></div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

<div class="footer-bottom border-top">
  <div class="container">
    <div class="row align-items-center justify-content-between section-gap">
      <p class="footer-text m-0 col-lg-6 col-md-12">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
              document.write(new Date().getFullYear());
          </script> <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://Xinfin.org" target="_blank">XinFin</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      <div class="col-lg-6 col-sm-12 footer-social">
        <a href="https://www.facebook.com/XinFinHybridBlockchain/"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/XinFin_Official"><i class="fa fa-twitter"></i></a>

        <a href="https://linkedin.com/in/xinfin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UCQaL6FixEQ80RJC0B2egX6g"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>

</footer>
<hr class="hr-primary" />
