<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Online Courses</h4>
                    <ul>
                        <li><a href="/blockchain-basic-course-for-engineer">Blockchain Basic Course</a></li>
                        <li><a href="/blockchain-advanced">Blockchain Advanced Course</a></li>
                        <li><a href="/blockchain-professional">Blockchain Professional Course</a></li>
                        <li><a href="/cloud-computing">Cloud Computing</a></li>
                        <li><a href="/blockchain-wallet">Blockchain Wallet</a></li>
                        <li><a href="/video-stream">Study Blockchain in 60minutes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>About</h4>
                    <ul>
                        <li><a href="/campus-ambassador">Campus Ambassador</a></li>
                        <li><a href="/statistics">Statistics</a></li>
                        <li><a href="/guides">Guides</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Useful Links</h4>
                    <ul>
                        <!--<li><a href="/faqs">FAQs</a></li>-->
                        <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/refund-policy">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Fund My Degree</h4>
                    <ul>
                        <li><a href="/fund-my-degree">Fund My Degree</a></li>
                        <li><a href="/corporate-sponsorship-donation">Corporate Sponsorship / Donation</a></li>
                    </ul>
                </div>

                <br/>

                <div class="single-footer-widget">
                    <h4>NFT Marketplace</h4>
                    <ul>
                        <li><a target="_blank" rel="noreferrer" href="https://marketplace.blockdegree.org">NFT Marketplace</a>&nbsp;(&nbsp;in&nbsp;<b style="color: navy;">ALPHA</b>&nbsp;)</li>
                        <li><a target="_blank" rel="noreferrer" href="https://github.com/XinFinOrg/blockdegree-marketplace">Dev Contribution</a></li>
                    </ul>
                </div>
            </div>

            
        </div>
    </div>


    <div class="footer-bottom border-top">
        <div class="container pt-25 pb-25">
            <div class="row align-items-center justify-content-between">
                <p class="footer-text m-0 col-lg-6 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Built with <i class="fa fa-heart-o" aria-hidden="true"></i> on <a
                        href="https://Xinfin.org" target="_blank">XinFin Network</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-6 col-sm-12 footer-social">
                    <a href="https://www.facebook.com/Blockdegree.org" target="_blank"><i
                            class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/Blockdegree_org" target="_blank"><i class="fa fa-twitter"></i></a>

                    <a href="https://www.linkedin.com/company/blockdegree" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/channel/UCXf6t8erj-TQSdJPuSGJtig" target="_blank"><i
                            class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>
<hr class="hr-primary" />