<div class="hero-banner hero-overlay"
     style="background: url('{{#if hero-image}} {{hero-image}} {{else}}/img/top-banner.jpg{{/if}}') center/cover;">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="hero-banner__content text-center">
        <h1 class="text-white">{{hero-title}}</h1>
        {{#if hero-copy}} <h3 class="text-white">{{hero-copy}}</h3> {{/if}}
      </div>
    </div>
  </div>
</div>
