<div class="container main-menu">
  <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
      <a href="/"><img src="/img/brand/blockdegree_dark.png?v=2" alt="blockdegree blockchain education training"
          class="logo-dark" /></a>
      <a href="/"><img src="/img/brand/blockdegree_white.png?v=2" alt="blockdegree blockchain education training"
          class="logo-white" /></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-has-children">
          <a class="py-1">Courses</a>
          <ul>
            <li><a href="/blockchain-basic-course-for-engineer">Blockchain Basic Course for Engineer</a></li>
            <li><a href="/blockchain-advanced">Blockchain Advanced Course for Engineer</a></li>
            <li><a href="/blockchain-professional">Blockchain Professional Course for Engineer</a></li>
            <li><a href="/cloud-computing">Cloud Computing</a></li>

            <li><a href="/blockchain-wallet">Blockchain Wallet</a></li>
            <li><a href="/blockchain-basic-2">Blockchain Basic 2</a></li>
            <li><a href="/video-stream">Study Blockchain in 60minutes</a></li>
          </ul>
        </li>
        <li><a href="/exams" class="py-1">Enroll</a></li>
        <li><a href="/profile" id="profile-btn" class="py-1">Profile</a></li>
        <li><a href="/verify-certification" class="py-1">Verify Certification</a></li>
        <li><a href="/fund-my-degree" class="py-1">Fund My Degree</a></li>
        <li><a href="/contact" class="py-1">Contact Us</a></li>
        <!--<li><a href="/campus-ambassador" class="py-1">Campus Ambassador</a></li>-->
        <li id="login-btn">
          <a id="nav-login" href="/login" class="btn btn-primary btn-cstm-rounded px-5 py-1 text-white">Login</a>
        </li>
        </li>
      </ul>
    </nav>
  </div>
</div>