<div class="container main-menu">
  <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
      <a href="/index.html"><img src="/img/brand/XinFin_transparent.png" alt="xinfin blockchain education training" /></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-has-children"><a href="" class="py-1">Online Blockchain Training</a>
          <ul id="nav-sub-1">
            <script id="nav-submenu-template" type="text/template">
              \{{#each courses}}
                <li><a href="/courses/\{{slug}}.html" data-toggle="moda" data-target="#exampleModal" data-whatever="@getbootstra">
                  \{{title}}
                </a></li>
              \{{/each}}
            </script>
          </ul>
        </li>
        <li><a href="/university-courses.html" class="py-1">University Course Offline</a></li>
        <li><a href="/events.html" class="py-1">Event</a></li>
        <li><a href="/verify-certification.html" class="py-1">Verify Certification</a></li>
        <li><a href="/contact.html" class="py-1">Contact Us</a></li>
        <li>
          <a href="/login.html" class="btn btn-primary btn-cstm-rounded px-5 py-1 text-white">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
