@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
$primary-font	: 'Poppins', sans-serif;
$code-font: 'Source Code Pro', monospace;

$primary-color	: #3A7BD5;
$secondary-color: #00D2FF;
$title-color	: #002844;
$nav-color: #002844;
$nav--hover: #2073D4;
$text-color		: #222;
$text--muted-color: #777;

$btn--primary: #2073D4;
$btn--secondary: #2196F3;
$btn__gradient--stop-1: #3CD3AD;
$btn__gradient--stop-2: #4CB8C4;

$overlay--dark: #002844;
$overlay__gradient--stop-1: #3A7BD5;
$overlay__gradient--stop-2: #16F4D0;

$border: #dee2e6;

$bg--muted: #F4F6F7;
$bg--primary: #2073D4;
$bg--secondary: #6153CC;
$bg--code: #eee;
$bg__footer: #e3eef4;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1400px
);
